.vscode/**
.vscode-test/**
out/**
src/**
node_modules/**
.gitignore
.yarnrc
esbuild.js
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
!src/syntaxes/**